.vscode/*
.vscode

Autograder/*.json
Autograder/*.txt
Autograder/submission.s
Autograder/*.s
build
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__

MIPS-creator/.vscode/
MIPS-creator/.vscode/*
MIPS-creator/*.autosave

*/*/*:Zone.Identifier
*/*/*/*:Zone.Identifier
*/*:Zone.Identifier

*/*/*/*.pyc
*/*/*.pyc
*/*.pyc
*.pyc

*/*/*/*.autosave
*/*/*.autosave
*/*.autosave
*.autosave

*/*/*/*.pyproject
*/*/*.pyproject
*/*.pyproject
*.pyproject

*/*/*/*.pyproject.user
*/*/*.pyproject.user
*/*.pyproject.user
*.pyproject.user


MIPS-creator/*/*/*.json
MIPS-creator/*/*.json
MIPS-creator/*.json
MIPS-creator/*/*/*.s
MIPS-creator/*/*.s
MIPS-creator/*.s
MIPS_creator/mainpage.pyproject.user
MIPS_creator/mainpage.pyproject.user
grader/__pycache__/autograder.cpython-38.pyc
grader/__pycache__/concat.cpython-38.pyc

*/*/*/*/*.pyc
*/*/*/*.pyc
*/*/*.pyc
*/*.pyc
*.pyc

dist/
dist/*
Autograder/Skeleton.s
Frontend/grader_data/UI.tar
Frontend/resources/temp/temp.json
Generic.tar
Frontend/resources/temp.json
